/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width:100%;
    height: auto;
}
/* body font */
body {
    font-family: -apple-system, BlinkMacSystemFont,
     "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
/* layout*/
.warp{
    max-width:1140px;
    padding-left:15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
header{
    position: relative;
}
footer{
    background-color: rgba(50, 50, 40, 1.0);
    height: 100px;
}
.clearfix{
    clear: both;
}
/* header nav */
nav{
    background-color: rgba(54, 54, 54, .4);
    position: absolute;
    top:0;
    left: 0;
    height: 60px;
    width: 100%;
}
nav .logo{
    background-image: url('/CSS基礎/新版型/img/logo.png');
    background-repeat:no-repeat;
    width: 182px;
    height: 45px;
    float:left;
    margin-top:6px;
    margin-left:10px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
nav ul{
    
    float: right;
    margin:21px;
}
nav ul li{
    float:left;
    padding-left: 15px;
    padding-right: 15px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
}
nav ul li a:hover{
    color: #00cc99;
    padding-bottom: 14px;
    border-bottom: 7px solid #00cc99;
}
.banner-index img{
    position: relative;
    width: 1140px;
    height: 446px;
}
.banner-font{
    position: absolute;
    top:135px;
    font-size: 40px;
    color:#00cc99;
    font-weight: bold;
    margin-left: 20px;
    
}
.banner-font span h1{
    display: inline;
    color:#fff;
}
.banner-font span h2{
    display: inline;
}
.banner-font h2{
    margin-top: 41px;
    margin-bottom: 44px;
}
.banner-btn{
    background-color: #00cc99;
    margin-left: 220px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 19px;
    border-radius: 5px;
}
.banner-btn:hover{
    background-color: #ffff;
}
.banner-index a{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
}
.banner-index a:hover{
    color:#00cc99;
}
/* index section*/
.index-list-1{
    max-width:1066px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
}
.index-list-2{
    max-width:1066px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
}
.index-list-3{
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
}
/* index-list-1 */
.index-list-1-title{
    margin-bottom: 21px;
}
.index-list-1-title h2{
    display: inline;
    color: #00cc99;
    font-size:36px;
    margin-right: 10px;
}
.index-list-1-title span{
    color:#9b9b9b;
}
.index-list-1-title .btn-hex{
    float: right;
    padding: 5px;
    border: 2px solid #00cc99;
    border-radius: 5px;
}
.index-list-1-title .btn-hex:hover{
    background-color: #00cc99;
}
.index-list-1-title a{
    text-decoration: none;
    color:#00cc99;
}
.index-list-1-title a:hover{
    text-decoration: none;
    color: #fff;
}
.index-list-1 li{
    text-align: center;
    width: 322px;
    height: 238px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px #9b9b9b;
}
.index-list-1-ul h2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.index-list-1-ul li p{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size:16px;
    text-align: left;
    color: #9b9b9b;
}
.index-list-1-html5{
    float: left;
}
.index-list-1-rwd{
    float: left;
    margin-left: 20px;
}
.index-list-1-jquery{
    float: right;
    margin-left: 20px;
}
/* index-list-2 */
.index-list-2-title {
    margin-bottom: 21px;
}
.index-list-2-title h2{
    display: inline;
    color: #00cc99;
    font-size:36px;
    margin-right: 10px;
}
.index-list-2-title span{
    color:#9b9b9b;
}
.index-list-2-title .btn-hex{
    float: right;
    padding: 5px;
    border: 2px solid #00cc99;
    border-radius: 5px;
}
.index-list-2-title .btn-hex:hover{
    background-color: #00cc99;
}
.table{
    width: 100%;
    text-align: center;
}
.table th{
    background-color: #efefef;
    padding-top: 15px;
    padding-bottom: 15px;
}
.table td{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
}
.table tr:hover{
    background-color: #efefef;
}
.td-hex{
    font-weight: bold;
    color:#00cc99;
}
/* index-list-3 */
.index-list-3{
    background-color:#ebebeb;
    height: 328px;
}
.index-list-3-title{
    float: left;
    font-size: 26px;
    margin-left: 193px;
    margin-top: 112px;
}
.index-list-3-title h1{
    display: inline;
    color:#00cc99;
    margin-left: 5px;
    margin-right: 5px;
}
.index-list-3-title h2{
    margin-top: 26px;
}
.index-list-3 .form{
    float: right;
    margin-top: 112px;
    margin-right: 112px;
}
.index-list-3 .name{
    width: 430px;
    height: 34px;
    border:0px;
    border-radius: 5px;
}
.index-list-3 .email{
    margin-top: 15px;
    width: 430px;
    height: 34px;
    border:0px;
    border-radius: 5px;
}
.btn-submit{
    float: right;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #00cc99;
    color:#fff;
    width: 100px;
    height: 45px;
    border:0px;
}
/* footer */
.footer-title{
    float:left;
}
.footer-title span{
    margin-left: 16px;
    color:#9b9b9b;
}
.footer-logo{
    background-image: url('/CSS基礎/新版型/img/logo.png');
    background-repeat:no-repeat;
    width: 182px;
    height: 45px;
    margin-top: 17px;
    margin-bottom: 11px;
    margin-left: 16px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.community{
    float: right;
    color:#fff;
}
.community .fab{
    margin-top: 42px;
    margin-right: 20px;
}
.community a{
    color:#fff;
}
.community a:hover{
    color:#00cc99;
}
/* course section */

.course-list-1{
    max-width: 960px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.course-list-2{
    max-width: 960px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.course-list-3{
    max-width: 960px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.course-list-4{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* course-list-1 */
.banner-course-font{
    position: absolute;
    top: 130px;
    left:50px;
    color:#00cc99;
}
.banner-course-font h1{
    color:#fff;
    font-size: 60px;
    margin-bottom:28px;
}
.banner-course-font h2{
    font-size: 23px;
}
.banner-course-btn{
    position: absolute;
    top: 302px;
    background-color: #00cc99;
    margin-left: 53px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 19px;
    border-radius: 5px;
}
.banner-course-btn:hover{
    background-color: #fff;
}
.teacher{
    position: relative;
    margin-left: 83px;
}
.teacher-name{
    position: absolute;
    color:#00cc99;
    top: 48px;
    left: 285px;
}
.teacher-name-h2{
    position: absolute;
    top: 103px;
    left: 285px;
}
.teacher img{
    float: left;
}
.teacher h2{
    float: left;
    font-size:40px;
}
.teacher-exp{
    float: right;
    list-style: disc;
    color: #9b9b9b;
    margin-top: 29px;
    margin-right: 172px;
    line-height: 33px;
}
/* course-list-2 */
.course-list-2-title{
    margin-bottom: 21px;
    text-align: center;
}
.course-list-2-title h2{
    display: inline;
    color: #00cc99;
    font-size:36px;
    margin-right: 10px;
}
.course-list-2-title span{
    color: #9b9b9b;
}
.course-goods{
    list-style: decimal;
    font-size:20px;
    width: 703px;
    text-indent: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 37px;
}
/* course-list-3 */
.course-list-3-title{
    margin-bottom: 21px;
    text-align: center;
}
.course-list-3-title h2{
    display: inline;
    color: #00cc99;
    font-size:36px;
    margin-right: 10px;
}
.course-list-3-title span{
    color: #9b9b9b;
}
.course-content li{
    padding-top: 16px;
    padding-bottom: 15px;
    font-size: 29px;
    color: #dadada;
    text-indent: 63px;
}
.bg-content{
    background-color: #ebebeb ;
    color:#000000 !important;
}
/* course-list-4 */
.course-list-4{
    background-color:#ebebeb;
    height: 328px;
}

.course-list-4-title{
    float: left;
    font-size: 40px;
    margin-top: 105px;
    margin-left: 130px;
}
.course-list-4-btn{
    float: right;
    background-color: #00cc99;
    font-size: 29px;
    margin-top: 139px;
    margin-right: 194px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 19px;
    border-radius: 5px;
}
.course-list-4-title h2{
    padding-bottom: 27px;
}
.course-list-4-btn:hover{
    background-color: #fff;
}
.course-list-4 a{
    color:#fff;
    text-decoration: none;
}
.course-list-4 a:hover{
    color:#00cc99;
    text-decoration: none;
}
/* faq section*/
.faq-list-1{
    max-width: 960px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.faq-list-2{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.faq-list-3{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

/* faq */
.faq-header-title{
    position: absolute;
    top: 121px;
    left: 287px;
    font-size: 40px;
    text-align: center;
}
.faq-header-title h1{
    color:#fff;
}
.faq-header-title h2{
    color:#00cc99;
    margin-top: 22px;
}
.faq-search {
    position: absolute;
    top: 262px;
    left: 305px;
}
.faq-search input{
    width: 500px;
    height: 51px;
    border: 0;
    border-radius: 5px 0 0 5px;
}
.btn-search{
    width: 60px;
    height: 51px;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    background-color: #fff;
}
.btn-search:hover{
    background-color: #00cc99;
    color:#fff;
}
.faq-list-1-title{
    margin-bottom: 20px;
}
.faq-list-1-title h2{
    font-size:40px;
    color:#00cc99;
    display: inline;
}
.faq-list-1-title span{
    color:#9b9b9b;
}
.faq-list-1 h4{
    font-size:20px;
    margin-bottom: 10px;
    color:#000000;
}
.faq-list-1 p{
    font-size:16px;
    margin-bottom: 10px;
    color:#9b9b9b;
    line-height: 30px;
}
.email a{
    color:#00cc99;
    text-decoration: none;
    font-weight: bold;
}

/* faq-list-2 */
.faq-list-2-title{
    margin-top: 36px;
    margin-bottom: 20px;
}
.faq-list-2-title h2{
    font-size:40px;
    color:#00cc99;
    display: inline;
}
.faq-list-2-title span{
    color:#9b9b9b;
}
.faq-list-2 h4{
    font-size:20px;
    margin-bottom: 10px;
    color:#000000;
}
.faq-list-2 p{
    font-size:16px;
    margin-bottom: 10px;
    color:#9b9b9b;
    line-height: 30px;
}
.faq-list-2-ul{
    margin-left: 60px;
}
.faq-list-2-ul li{
    text-indent: 21px;
    line-height: 24px;
    list-style: decimal;
    margin-bottom: 10px;
    color: #9b9b9b;
}
/* faq-list-3 */
.faq-list-3-title{
    margin-top: 36px;
    margin-bottom: 20px;
}
.faq-list-3-title h2{
    font-size:40px;
    color:#00cc99;
    display: inline;
}
.faq-list-3-title span{
    color:#9b9b9b;
}
.faq-list-3 p{
    font-size:16px;
    margin-bottom: 10px;
    color:#9b9b9b;
    line-height: 42px;
}
.faq-list-3-ul-refund{
    margin-left: 60px;
}
.faq-list-3-ul-refund li{
    text-indent: 21px;
    line-height: 24px;
    list-style: disc;
    margin-bottom: 10px;
    color: #9b9b9b;
}
.faq-list-3-ul-warning{
    margin-left: 60px;
}
.faq-list-3-ul-warning li{
    text-indent: 21px;
    line-height: 24px;
    list-style: disc;
    margin-bottom: 10px;
    color: #9b9b9b;
}
/* faq-list-4 */
.faq-list-4{
    background-color:#ebebeb;
    height: 328px;
}
.faq-list-4-title{
    float: left;
    font-size: 26px;
    margin-left: 193px;
    margin-top: 112px;
}
.faq-list-4-title h1{
    display: inline;
    color:#00cc99;
    margin-left: 5px;
    margin-right: 5px;
}
.faq-list-4-title h2{
    margin-top: 26px;
}
.faq-list-4 .form{
    float: right;
    margin-top: 37px;
    margin-right: 112px;
}
.faq-list-4 .name{
    width: 430px;
    height: 34px;
    border:0px;
    border-radius: 5px;
}
.faq-list-4 .email{
    margin-top: 15px;
    width: 430px;
    height: 34px;
    border:0px;
    border-radius: 5px;
}
.faq-list-4 .textarea{
    margin-top: 15px;
    border:0px;
    border-radius: 5px;
    color:#9b9b9b;
}
/* utilities */
.red{
    color:red;
}

@media (max-width: 575.98px) { 
    .warp{
        padding-left: 0;
        padding-right: 0;
    }
    nav ul{
        margin:21px 14px 0px 0px;
    }
    nav ul li{
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner-font{
        font-size: 27px;
    }
    .banner-btn{
        margin-left: auto;
        width: 154px;
    }
    .index-list-1-title{
        padding: 0 15px;
    }
    .index-list-1-title h2{
        font-size: 24px;
    }
    .index-list-1-title span{
        font-size: 12px;
    }
    .index-list-1-html5{
        float:none;
    }
    .index-list-1-rwd{
        float:none;
        margin-left: 0px;
    }
    .index-list-1-jquery{
        float:none;
        margin-left: 0px;
    }
    .index-list-1 li{
        margin-left: auto;
        margin-right: auto;
    }
    .index-list-2-title{
        padding: 0 15px;
    }
    .index-list-2-title h2{
        font-size: 24px;
    }
    .index-list-2-title span{
        font-size: 12px;
    }
    .table{
        font-size:12px;
    }
    .index-list-3-title{
        float: none;
        margin-left: 0;
        padding-top: 51px;
        padding-left: 10px;
        font-size: 25px;
    }
    .index-list-3 .form{
        float:none;
        margin-top: 33px;
        margin-right: 0;
    }
    .index-list-3 .name{
        width: 90%;
        margin-left: 15px;
    }
    .index-list-3 .email{
        width: 90%;
        margin-left: 15px;
    }
    .btn-submit{
        margin-right: 24px;
    }
    /* course */
    .banner-course-font{
        left:15px;
        top: 150px;
    }
    .banner-course-font h1{
        font-size: 22px;
    }
    .teacher{
        margin-left: 66px;
        margin-right: auto;
    }
    .teacher-name{
        position: static;
        margin-left: 15px;
    }
    .teacher-name-h2{
        position: static;
        margin-left: 15px;
    }
    .teacher img{
        float: none;
    }
    .teacher-exp{
        float:none;
        margin-left: 122px;
        margin-right: auto;
        margin-top: 69px;
    }
    /*.course-list-2*/
    .course-list-2-title h2{
        display: block;
        font-size: 24px;
        margin-bottom: 10px;
    }
    .course-goods{
        font-size: 16px;
        width: 75%;
        text-indent: 10px;
        margin-left: auto;
        margin-right: auto;
        line-height: 37px;
    }
    /* .course-list-3 */
    .course-list-3-title h2{
        font-size: 24px;
    }
    .course-content li{
        font-size: 16px;
    }
    /* .course-list-4 */
    .course-list-4-title{
        float: none;
        font-size: 24px;
        margin-top: 0px;
        margin-left: 36px;
        padding-top: 50px;
    }
    .course-list-4-title h2{
        margin-top: 0px;
    }
    .course-list-4-btn{
        font-size: 16px;
        margin-top: 25px;
        margin-right: 52px;
    }
    /* faq */
    .faq-header-title{
        top: 135px;
        left: 9px;
        font-size: 24px;
    }
    .faq-search{
        left: 12px;
    }
    .faq-search input{
        width: 290px;
        text-align: center;
    }
    /* faq-list-1 */
    .faq-list-1-title{
        text-align: center;
    }
    .faq-list-1-title h2{
        font-size:24px;
        margin-bottom: 10px;
        display: block;
    }
    .faq-list-1 h4{
        font-size: 16px;
        padding: 0 10px;
    }
    .faq-list-1 p{
        font-size: 14px;
        padding: 0 10px;
    }
    /* faq-list-2 */
    .faq-list-2-title{
        text-align: center;
    }
    .faq-list-2-title h2{
        font-size: 24px;
        display: block;
        margin-bottom: 10px;
    }
    .faq-list-2 h4{
        font-size: 16px;
        padding: 0 10px;
    }
    .faq-list-2 p{
        padding: 0 10px;
        font-size:14px;
    }
    .faq-list-2-ul{
        margin-left: 50px;
        font-size: 14px;
    }
    /* faq-list-3 */
    .faq-list-3-title{
        text-align: center;
    }
    .faq-list-3-title h2{
        font-size: 24px;
        display: block;
        margin-bottom: 10px;
    }
    .faq-list-3 h4{
        padding: 0 10px;
    }
    .faq-list-3 p{
        padding: 0 10px;
        font-size:14px;
    }
    .faq-list-3-ul-warning{
        font-size: 14px;
    }
    .faq-list-3-ul-warning li{
        text-indent: 0px;
    }
    /* .faq-list-4 */
    .faq-list-4{
        height: 100%;
    }
    .faq-list-4-title{
        float: none;
        font-size: 14px;
        padding: 10px 0;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }
    .faq-list-4 .form{
        float: none;
        margin-top: 0;
        margin-right: 0;
        margin-left: 32px;
    }
    .faq-list-4 .name{
        width: 90%;
        text-align: center;
    }
    .faq-list-4 .email{
        width: 90%;
        text-align: center;
    }
    .textarea{
        width: 90%;
        text-align: center;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .warp{
        padding-left: 0;
        padding-right: 0;
    }
    nav ul{
        margin:21px 14px 0px 0px;
    }
    nav ul li{
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner-font{
        font-size: 27px;
    }
    .banner-btn{
        margin-left: auto;
        width: 154px;
    }
    .index-list-1-title{
        padding: 0 15px;
    }
    .index-list-1-title h2{
        font-size: 24px;
    }
    .index-list-1-title span{
        font-size: 12px;
    }
    .index-list-1-html5{
        float:none;
    }
    .index-list-1-rwd{
        float:none;
        margin-left: 0px;
    }
    .index-list-1-jquery{
        float:none;
        margin-left: 0px;
    }
    .index-list-1 li{
        margin-left: auto;
        margin-right: auto;
    }
    .index-list-2-title{
        padding: 0 15px;
    }
    .index-list-2-title h2{
        font-size: 24px;
    }
    .index-list-2-title span{
        font-size: 12px;
    }
    .table{
        font-size:12px;
    }
    .index-list-3-title{
        float: none;
        margin-left: 0;
        padding-top: 51px;
        padding-left: 200px;
        font-size: 25px;
    }
    .index-list-3 .form{
        float:none;
        margin-top: 33px;
        margin-right: 0;
    }
    .index-list-3 .name{
        width: 90%;
        margin-left: 35px;
    }
    .index-list-3 .email{
        width: 90%;
        margin-left: 35px;
    }
    .btn-submit{
        margin-right: 35px;
    }
    /* course */
    .banner-course-font{
        left:15px;
        top: 150px;
    }
    .banner-course-font h1{
        font-size: 22px;
    }
    .teacher{
        margin-left: 66px;
        margin-right: auto;
    }
    .teacher img{
        float: none;
    }
    .teacher-exp{
        float: none;
        margin-left: 250px;
    }
    /*.course-list-2*/
    .course-list-2-title h2{
        display: block;
        font-size: 24px;
        margin-bottom: 10px;
    }
    .course-goods{
        font-size: 16px;
        width: 75%;
        text-indent: 10px;
        margin-left: auto;
        margin-right: auto;
        line-height: 37px;
    }
    /* .course-list-3 */
    .course-list-3-title h2{
        font-size: 24px;
    }
    .course-content li{
        font-size: 16px;
    }
    /* .course-list-4 */
    .course-list-4-title{
        font-size: 24px;
    }
    .course-list-4-btn{
        font-size: 16px;
        margin-right: 52px;
    }
    /* faq */
    .faq-header-title{
        top: 135px;
        left: 9px;
        font-size: 24px;
    }
    .faq-search{
        left: 12px;
    }
    .faq-search input{
        width: 290px;
        text-align: center;
    }
    /* faq-list-1 */
    .faq-list-1-title{
        text-align: center;
    }
    .faq-list-1-title h2{
        font-size:24px;
        margin-bottom: 10px;
        display: block;
    }
    .faq-list-1 h4{
        font-size: 16px;
        padding: 0 10px;
    }
    .faq-list-1 p{
        font-size: 14px;
        padding: 0 10px;
    }
    /* faq-list-2 */
    .faq-list-2-title{
        text-align: center;
    }
    .faq-list-2-title h2{
        font-size: 24px;
        display: block;
        margin-bottom: 10px;
    }
    .faq-list-2 h4{
        font-size: 16px;
        padding: 0 10px;
    }
    .faq-list-2 p{
        padding: 0 10px;
        font-size:14px;
    }
    .faq-list-2-ul{
        margin-left: 50px;
        font-size: 14px;
    }
    /* faq-list-3 */
    .faq-list-3-title{
        text-align: center;
    }
    .faq-list-3-title h2{
        font-size: 24px;
        display: block;
        margin-bottom: 10px;
    }
    .faq-list-3 h4{
        padding: 0 10px;
    }
    .faq-list-3 p{
        padding: 0 10px;
        font-size:14px;
    }
    .faq-list-3-ul-warning{
        font-size: 14px;
    }
    .faq-list-3-ul-warning li{
        text-indent: 0px;
    }
    /* .faq-list-4 */
    .faq-list-4{
        height: 100%;
    }
    .faq-list-4-title{
        float: none;
        font-size: 14px;
        padding: 10px 0;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }
    .faq-list-4 .form{
        float: none;
        margin-top: 0;
        margin-right: 0;
        margin-left: 32px;
    }
    .faq-list-4 .name{
        width: 90%;
        text-align: center;
    }
    .faq-list-4 .email{
        width: 90%;
        text-align: center;
    }
    .textarea{
        width: 90%;
        text-align: center;
    }
    
 }
@media (min-width: 768px) and (max-width: 991.98px) { 
    .index-list-1 li{
        max-width: 100%;
        height: 284px;
    }
    .index-list-1-html5{
        float:none;
        margin-left: auto;
        margin-right: auto;
    }
    .index-list-1-rwd{
        float:none;
        margin-left: auto;
        margin-right: auto;
    }
    .index-list-1-jquery{
        float:none;
        margin-left: auto;
        margin-right: auto;
    }
    .index-list-3-title{
        float:none;
        padding-top: 50px;
    }
    .index-list-3 .name{
        width: 100%;
        margin-left: 35px;
    }
    .index-list-3 .email{
        width: 100%;
        margin-left: 35px;
    }
    .index-list-3 .form{
        float:none;
        margin-top: 36px;
        margin-right: 69px;
    }
    /* course */
    .banner-course-font{
        left:15px;
        top: 150px;
    }
    .banner-course-font h1{
        font-size: 33px;
    }
    .banner-course-font h2{
        font-size: 25px;
    }
    .teacher{
        margin-left: 152px;
    }
    .teacher img{
        float: none;
    }
    .teacher-exp{
        float: none;
        margin-left: 306px;
    }
    /*.course-list-2*/
    .course-list-2-title h2{
        display: block;
        font-size: 24px;
        margin-bottom: 10px;
    }
    .course-goods{
        font-size: 16px;
        width: 75%;
        text-indent: 10px;
        margin-left: auto;
        margin-right: auto;
        line-height: 37px;
    }
    /* .course-list-3 */
    .course-list-3-title h2{
        font-size: 24px;
    }
    .course-content li{
        font-size: 16px;
    }
    /* .course-list-4 */
    .course-list-4-title{
        font-size: 24px;
    }
    .course-list-4-title h2{
        margin-top: 0px;
    }
    .course-list-4-btn{
        font-size: 16px;
        margin-right: 52px;
    }
    /* faq */
    .faq-header-title{
        top: 142px;
        left: 216px;
        font-size: 24px;
    }
    .faq-search{
        left: 214px;
    }
    .faq-search input{
        width: 290px;
        text-align: center;
    }
    /* faq-list-1 */
    .faq-list-1-title{
        text-align: center;
    }
    .faq-list-1-title h2{
        font-size:24px;
        margin-bottom: 10px;
        display: block;
    }
    .faq-list-1 h4{
        font-size: 16px;
        padding: 0 10px;
    }
    .faq-list-1 p{
        font-size: 14px;
        padding: 0 10px;
    }
    /* faq-list-2 */
    .faq-list-2-title{
        text-align: center;
    }
    .faq-list-2-title h2{
        font-size: 24px;
        display: block;
        margin-bottom: 10px;
    }
    .faq-list-2 h4{
        font-size: 16px;
        padding: 0 10px;
    }
    .faq-list-2 p{
        padding: 0 10px;
        font-size:14px;
    }
    .faq-list-2-ul{
        margin-left: 50px;
        font-size: 14px;
    }
    /* faq-list-3 */
    .faq-list-3-title{
        text-align: center;
    }
    .faq-list-3-title h2{
        font-size: 24px;
        display: block;
        margin-bottom: 10px;
    }
    .faq-list-3 h4{
        padding: 0 10px;
    }
    .faq-list-3 p{
        padding: 0 10px;
        font-size:14px;
    }
    .faq-list-3-ul-warning{
        font-size: 14px;
    }
    .faq-list-3-ul-warning li{
        text-indent: 0px;
    }
    /* .faq-list-4 */
    .faq-list-4{
        height: 100%;
    }
    .faq-list-4-title{
        float: none;
        font-size: 14px;
        padding: 10px 0;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }
    .faq-list-4 .form{
        float: none;
        margin-top: 0;
        margin-right: 0;
        margin-left: 32px;
    }
    .faq-list-4 .name{
        width: 90%;
        text-align: center;
    }
    .faq-list-4 .email{
        width: 90%;
        text-align: center;
    }
    .textarea{
        width: 90%;
        text-align: center;
    }
}