<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> 帶你學到會的線上課程 | 六角學院</title>
        <link rel="icon" href="https://www.hexschool.com/favicon.ico">
        <meta property="og:title" content=" 帶你學到會的線上課程  | 六角學院">
        <meta property="og:description" content=" 打破影音課程售後不理，我們在線上等著你。 ">
        <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/hexschool-api.appspot.com/o/web%2Forder%2Fhtml_new.png?alt=media&amp;token=5374874e-0efe-491f-be41-8c5b8ef75730">
        <meta property="fb:app_id" content="760173380749493">
        <meta property="og:site_name" content="六角學院">
        <meta property="og:locale" content="zh_TW">
        <link rel="alternative" href="https://www.hexschool.com/atom.xml" title="六角學院" type="application/atom+xml">
        <meta content=" 打破影音課程售後不理，我們在線上等著你。 " name="description">
        <meta content="線上課程, 網頁設計, 前端, HTML, CSS, jQuery, javascript" name="keywords">
        <link rel="stylesheet" href="css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous">
    </head>

    <body>
        <div class="warp">
            <header class="header"></header>
            <section></section>
            <footer class="footer"></footer>
        </div>
    </body>

</html>